html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Cabin Sketch";
  background-color: rgb(104, 173, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

header {
  box-sizing: border-box;
  height: 20%;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}

#toolbar-wrapper {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

#toolbar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 3em;
  overflow: hidden;
  margin-left: auto;
  padding: 10px;
  border-radius: 12px;
  width: 25vw;
  font-size: 16px;
  font-size: 2vw;
  grid-template-areas:
    "paint-color"
    "random"
    "greyscale"
    "eraser"
    "grid-size"
    "range-input"
    "button";
}

#paint-color {
  grid-area: paint-color;
  cursor: pointer;
}

#random {
  grid-area: random;
  cursor: pointer;
}

#greyscale {
  grid-area: greyscale;
  cursor: pointer;
}

#eraser {
  grid-area: eraser;
  cursor: pointer;
}

#grid-size {
  grid-area: grid-size;
  cursor: pointer;
}

#range-input {
  grid-area:range-input;
  font-size: 40px;
  font-size: 4vw;
  text-align: center;
  align-self: end;
}

button {
  grid-area: button;
  justify-self: center;
  align-self: end;
  font-size: 24px;
  font-family: "Cabin Sketch";
  height: 32px;
  width: 55%;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#grid-wrapper {
  display: flex;
  justify-content: center;
  width: 70%;
}

#grid-box {
  display: grid;
  cursor: crosshair;
  background-color: white;
  border: 5px double black;
  width: 75%;
  /* *  width value necessary to 
  * accomplish ~proportionate resizing */
  height: 100%;
  /* *  padding-bottom/top pushes grid
  *  square divs to top/bottom of container.
  * Cannot be used for proportionate resizing. */
}

.grid-square {
  border: 1px solid black;
}

#footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer {
  font-family: Verdana, Tahoma, sans-serif;
  width: 100%;
  background-color: rgb(36, 134, 199);
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}